@font-face {
    font-family: MyRoboto;
    src: url(/static/bookwormsunite/font/roboto/Roboto-Light.ttf);
}

* {
    font-family: MyRoboto;
}

html, body {
    height: 100%;
}

.hili-text {
    /*font-size: 1.5rem;*/
    color: rgb(242, 99, 75);
    font-weight: bolder;
}

.top-bar {
    width: 100%;
}

.top-bar, .top-bar ul {
    background-color: rgb(255, 255, 255);
}

.top-bar input {
    width: 400px;
}

.top-bar .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 2px;
    opacity: 0.2;
}

.top-bar-search-box {
    height: 30px;
    background: rgba(0, 0, 0, -1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11pt;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.page-content {
    min-height: 100%;
    background-color: rgb(244, 244, 244);
}

#index_header {
    background-color: rgb(255, 255, 255);
    border: none;
    padding-bottom: 4rem;
}

.blog-post {
    margin-top: 50px;
}

.blog-title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0.1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-title span {
    background: rgb(244, 244, 244);
    padding-right: 10px;
}

.blog-title.challenge-title {
    margin-bottom: 0.8rem;
}

.blog-content {
    width: 100%;
}

.blog-content.index_readathon_list.row {
    margin-left: 0px;
    margin-right: 0px;
}

#index-readathons table {
    width: 100%;
    margin-bottom: 0;
}

#index-readathons table tbody {
    border: none;
    background-color: transparent;
    vertical-align: center;
}

#index-readathons table tbody td {
    padding: 0.2rem;
}

.poster {
    width: 99%;
    min-height: 233px;
    position: relative;
    background-image: url(/static/bookwormsunite/images/booktubeathon.png);
    vertical-align: middle;
}

.poster .caption {
    position: absolute;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 40px;
    bottom: 0;
    right: 0;
    color: white;
    text-transform: uppercase;
    background: rgba(240, 100, 81, 1);
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}

.poster .topcaption {
    position: absolute;
    padding-top: 10px;
    padding-left: 13px;
    width: 100%;
    min-height: 40px;
    top: 0;
    left: 0;
    color: black;
    text-transform: uppercase;
    background: transparent;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.poster:hover .topcaption {
    color: rgb(240, 95, 74);
}

.poster:hover .caption {
    color: white;
    background: rgba(253, 175, 43, 1);
}

div#profile-readathon-list {
    margin-right: 20px;
    background-color: rgb(113, 191, 179);
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}

div#profile-readathon-list a {
    color: rgb(255, 255, 209);
}

#profile-profile-plate {
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*background-color: rgb(173, 169, 198);*/
    /*background-color: rgb(255, 255, 255);*/
}

#profile-profile-plate table {
    margin-bottom: 0;
}

#profile-uploadimg-icon {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    right: 1.2rem;
    z-index: 7777;
}

#profile-profile-plate table tbody {
    border: none;
    background-color: transparent;
    vertical-align: top;
}

.profile-img-lg {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;
}

.profile-img-sm {
    border-radius: 3px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50% 50%;
}

.challenge-search-box {
    height: 40px;
    width: 450px;
    background: rgba(0, 0, 0, -1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11pt;
    padding-left: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.challenge-save-btn {
    margin-top: 25px;
    margin-bottom: 0;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 700;
    min-width: 100px;
    text-align: center;
}

.readathon-join-btn {
    float: right;
    margin-bottom: 0;
    margin-top: -1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    min-width: 80px;
    text-align: center;
}

.challenge-complete-btn {
    float: right;
    margin-top: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.readathon-join-btn.join {
    /*background-color: rgb(235, 208, 166);*/
    background-color: rgb(242, 99, 75);
    color: white;
}

.readathon-join-btn.joined {
    background-color: rgba(148, 206, 99, 1);
    color: rgba(0, 0, 0, 0.6);
}

.challenge-complete-btn.join {
    background-color: rgb(242, 99, 75);
    color: white;
}

.challenge-complete-btn.joined {
    background-color: rgba(148, 206, 99, 1);
    color: rgba(0, 0, 0, 0.6);
}

.challenge-complete-btn.due {
    background-color: rgb(217, 215, 185);
    color: rgba(0, 0, 0, 0.6);
}

.readathon-join-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-weight: 900;
}

.datetime-text {
    font-weight: bolder;
    font-size: 13px;
    color: rgb(242, 99, 75);
}

#readathon-summary-plate table {
    margin-bottom: 0;
    width: 100%;
}

#readathon-summary-plate table tbody {
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

.readathon-challenge-title {
    font-size: 30px;
    font-weight: 200;
    width: 100%;
    color: rgb(242, 99, 75);
}

.readathon-add-book-plate {
    height: 100%;
}

#readathon-thumbnail-panel {
    width: 100%;
    margin: 0 auto;
}

#readathon-thumbnail-panel ul {
    list-style-type: none;
}

#readathon-thumbnail-panel li img {
    float: left;
    margin: 2px;
    border-radius: 2px;
    width: 50px;
    height: 50px;
}

#readathon-thumbnail-panel li img:hover {
    border: 1px solid white;
}

#readathon-tweet-panel {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.calendar-event {
    background-color: rgba(146, 207, 92, 0.5);
    margin: 3px;
    padding: 5px;
    font-size: 10px;
    height: 1.3rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.calendar-event:hover {
    background-color: rgb(255, 255, 209);
}

.calendar-event a {
    color: black;
}

.calendar-event a:hover {
    color: black
}

.challenge-cover {
    letter-spacing: 3px;
    line-height: 30px;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    width: 90%;
    position: absolute;
    bottom: 15px;
    height: 30px;
    background-color: rgb(253, 175, 43);
    z-index: 777;
}

.challenge-img {
    position: absolute;
    top: 0;
    cursor: pointer;
}

#searchResult {
    height: 250px;
    overflow: auto;
    margin-top: 15px;
}

.search-result-box {
    padding: 1rem;
    padding-left: 0;
    padding-top: 0;
    margin-left: 0;
}

.search-result-box li {
    cursor: pointer;
    padding: 0.3rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.search-result-box li:hover {
    color: rgb(242, 99, 75);
}

.search-result-box li img {
    width: 40px;
    height: 57px;
    margin-right: 0.5rem;
}

.about-img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.summary-img {
    cursor: pointer;
    width: 100%;
    height: auto;
}