@font-face {
    font-family: MyRoboto;
    src: url(/static/bookwormsunite/font/roboto/Roboto-Light.ttf);
}

* {
    font-family: MyRoboto;
}

hr {
    color: rgb(174, 170, 198);
}

.top-bar {
    width: 100%;
}

.top-bar, .top-bar ul {
    background-color: rgb(255, 255, 255);
}

.top-bar input {
    width: 400px;
}

.top-bar .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 2px;
    opacity: 0.2;
}

.top-bar-search-box {
    height: 30px;
    background: rgba(0, 0, 0, -1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11pt;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.page-content {
    background-color: rgb(244, 244, 244);
}

#index_header {
    background-color: rgb(255, 255, 255);
    border: none;
    padding-bottom: 4rem;
}

.blog-post {
    margin-top: 50px;
}

.blog-title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgb(174, 170, 198);
    line-height: 0.1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-title span {
    background: rgb(244, 244, 244);
    padding-right: 10px;
}

.blog-content {
    width: 100%;
}

.blog-content.index_readathon_list.row{
    margin-left: 0px;
    margin-right: 0px;
}

.poster {
    width: 24%;
    height: 233px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(/static/bookwormsunite/images/booktubeathon.png);
    vertical-align: middle;
    /*background-color: rgb(255, 255, 255);*/
}

.poster .caption {
    position: absolute;
    padding-top: 13px;
    padding-right: 10px;
    width: 100%;
    height: 40px;
    bottom: 0;
    right: 0;
    color: white;
    text-transform: uppercase;
    background: rgba(240, 100, 81, 1);
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}

.poster .topcaption {
    position: absolute;
    padding-top: 10px;
    padding-left: 13px;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    color: black;
    text-transform: uppercase;
    background: transparent;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.poster:hover .topcaption {
    color: rgb(240, 95, 74);
}

.poster:hover .caption {
    color: white;
    background: rgba(253, 175, 43, 1);
}