@font-face {
    font-family: MyRoboto;
    src: url(/static/bookwormsunite/font/roboto/Roboto-Light.ttf);
}

* {
    font-family: MyRoboto;
}

hr {
    color: rgb(174, 170, 198);
}

.hili-text {
    font-size: 1.5rem;
    color: rgb(242, 99, 75);
    font-weight: bolder;
}

.top-bar {
    width: 100%;
}

.top-bar, .top-bar ul {
    background-color: rgb(255, 255, 255);
}

.top-bar input {
    width: 400px;
}

.top-bar .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 2px;
    opacity: 0.2;
}

.top-bar-search-box {
    height: 30px;
    background: rgba(0, 0, 0, -1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11pt;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.page-content {
    min-height: 100%;
    background-color: rgb(244, 244, 244);
}

#index_header {
    background-color: rgb(255, 255, 255);
    border: none;
    padding-bottom: 4rem;
}

.blog-post {
    margin-top: 50px;
}

.blog-title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgb(174, 170, 198);
    line-height: 0.1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-title span {
    background: rgb(244, 244, 244);
    padding-right: 10px;
}

.blog-title.challenge-title {
    margin-bottom: 0.8rem;
}

.blog-content {
    width: 100%;
}

.blog-content.index_readathon_list.row {
    margin-left: 0px;
    margin-right: 0px;
}

#index-readathons table {
    width: 100%;
    margin-bottom: 0;
}

#index-readathons table tbody {
    border: none;
    background-color: transparent;
    vertical-align: center;
}

#index-readathons table tbody td {
    padding: 0.2rem;
}

.poster {
    width: 99%;
    min-height: 233px;
    position: relative;
    background-image: url(/static/bookwormsunite/images/booktubeathon.png);
    vertical-align: middle;
}

.poster .caption {
    position: absolute;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 40px;
    bottom: 0;
    right: 0;
    color: white;
    text-transform: uppercase;
    background: rgba(240, 100, 81, 1);
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}

.poster .topcaption {
    position: absolute;
    padding-top: 10px;
    padding-left: 13px;
    width: 100%;
    min-height: 40px;
    top: 0;
    left: 0;
    color: black;
    text-transform: uppercase;
    background: transparent;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.poster:hover .topcaption {
    color: rgb(240, 95, 74);
}

.poster:hover .caption {
    color: white;
    background: rgba(253, 175, 43, 1);
}

.jcarousel img {
    width: 100%;
}

div#profile-readathon-list {
    margin-right: 20px;
    background-color: rgb(113, 191, 179);
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}

div#profile-readathon-list a {
    color: rgb(255, 255, 209);
}

#profile-profile-plate {
    border-radius: 3px;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*background-color: rgb(173, 169, 198);*/
    /*background-color: rgb(255, 255, 255);*/
}

#profile-profile-plate table {
    margin-bottom: 0;
}

#profile-profile-plate table tbody {
    border: none;
    background-color: transparent;
    vertical-align: top;
}

.profile-img-lg {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
}

#readathon-join-btn {
    float: right;
    margin-bottom: 0;
    margin-top: -1rem;
    border: 1px solid rgb(174, 170, 198);
    background-color: rgb(244, 244, 244);
    color: rgb(174, 170, 198);
    font-weight: 700;
}

#readathon-join-btn:hover {
    background-color: white;
    font-weight: 900;
}

.datetime-text {
    font-weight: bolder;
    font-size: 13px;
    color: rgba(253, 175, 43, 1)
}

#readathon-summary-plate table {
    margin-bottom: 0;
    width: 100%;
}

#readathon-summary-plate table tbody {
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

.readathon-challenge-title {
    font-size: 30px;
    font-weight: 200;
    width: 100%;
    color: rgb(242, 99, 75);
}

.readathon-add-book-plate {
    height: 100%;
}

#readathon-thumbnail-panel {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

#readathon-thumbnail-panel ul {
    list-style-type: none;
}

#readathon-thumbnail-panel li img {
    float: left;
    margin: 2px;
    border-radius: 2px;
    width: 50px;
    height: 50px;
}

#readathon-thumbnail-panel li img:hover {
    border: 1px solid white;
}

#readathon-tweet-panel {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}