
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/app.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/foundation.css" %}"/>
    {% endblock %}
</head>
<body>

{% block search %}
    <div>
        <form id="search_form" method="post" action="/search/" >
            {% csrf_token %}
            <input type="text" name="query" id="query" placeholder="Search..."/></div>
            <input type="submit" name="submit" value="Search"></input>
        </form>
    </div>
    <div>
        {% if readathons %}
            <!-- Display search results in an ordered list -->
            <ol>
                {% for readathon in readathons %}
                <li>
                    <strong>{{ readathon.name }}</strong><br >
                </li>
                {% endfor %}
            </ol>
        {% else %}
            <br/>
            <p>No results found</p>
        {% endif %}
    </div>

{% endblock%}

{% block content %}
    This is content
{% endblock %}

{% block js %}
    <script src="{% static "bookwormsunite/js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/vendor/what-input.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/foundation.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/app.js" %}"></script>
{% endblock %}
</body>
</html>