<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/foundation.css" %}"/>
        <link rel="stylesheet" type="text/css"
              href="{% static "bookwormsunite/font/foundation-icons/foundation-icons.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/motion-ui.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/jcarousel.responsive.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/app.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "bookwormsunite/css/foundation.calendar.css" %}"/>
    {% endblock %}
</head>
<body>

{#{% block search %}#}
{##}
{#    <div>#}
{#        <form id="search_form" method="post" action="/search/">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="query" id="query" placeholder="Search..."/>#}
{#            <input type="submit" name="submit" value="Search"/>#}
{#        </form>#}
{#    </div>#}
{##}
{#    <div>#}
{#        {% if readathons %}#}
{#            <!-- Display search results in an ordered list -->#}
{#            <ol>#}
{#                {% for readathon in readathons %}#}
{#                    <li>#}
{#                        <strong>{{ readathon.name }}</strong><br>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#        {% else %}#}
{#            <br/>#}
{#            <p>No results found</p>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#{% endblock %}#}
{##}
{#{% block login %}#}
{#    {% if user.is_authenticated %}#}
{#        Hi {{ user.username }}#}
{#        <a href="{% url 'logout' %}">Logout</a>#}
{#    {% else %}#}
{#        <form action="{% url 'login' %}" id="login_form" method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#            {{ login_form.as_p }}#}
{#            <input type="submit" value="Login">#}
{#        </form>#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% block register %}#}
{#    {% if not user.is_authenticated %}#}
{#        <form action="{% url 'register' %}" id="register_form" method="post"#}
{#              enctype="multipart/form-data">{% csrf_token %}#}
{#            {{ register_form.as_p }}#}
{#            <input type="submit" name="submit" value="Register"/>#}
{#        </form>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block navbar %}

    <div class="row medium-9 large-8 columns">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu style="margin-left: -30px;">
                    <li class="menu-text"><a href="{% url 'index' %}">Bookwormsunite</a></li>
                    <li>
                        <span class="icon"><i class="fi-magnifying-glass"></i></span>
                        <input type="search" class="top-bar-search-box" placeholder="Search Readathon"></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% if user.is_authenticated %}
                        <li class="menu-text">Hi <a href="{% url 'user_info' uid=user.id %}">{{ user.username }}</a>
                        </li>
                        <li class="menu-text"><a href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                        <li class="menu-text"><a data-open="loginModal">login/register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="large reveal" id="loginModal" data-options="showDelay:300; hideDelay:50" data-reveal>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="large-6 columns">
                    <h2>Register</h2>
                    <form action="{% url 'register' %}" id="register_form" method="post"
                          enctype="multipart/form-data">{% csrf_token %}
                        {{ register_form.as_p }}
                        <input class="button success" type="submit" name="submit" value="Register"/>
                    </form>
                </div>
                <div class="large-6 columns">
                    <h2>Login</h2>
                    <form action="{% url 'login' %}" id="login_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <input class="button" type="submit" value="Login">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div id="modalAlert" class="callout alert" style="display: none;">
                        <h5 id="modalAlertMsg"></h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    This is content
{% endblock %}


{% block js %}
    <script src="{% static "bookwormsunite/js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/vendor/what-input.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/foundation.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/motion-ui.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/jquery.jcarousel.min.js" %}"></script>
    <script src="{% static "bookwormsunite/js/jcarousel.responsive.js" %}"></script>
    <script src="{% static "bookwormsunite/js/app.js" %}"></script>
{% endblock %}
</body>
</html>