{% extends "bookwormsunite/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="page-content">

        <div class="callout large primary" id="index_header">
            <div class="row column text-center">
                <h1>Bookwormsunite</h1>

                <h3 class="subheader">Read, Challenge, Connect</h3>
            </div>
        </div>

        <div class="row medium-9 large-8 columns">
            <div class="blog-post">
                <h3 class="blog-title"><span>Current Readathons & Upcoming</span></h3>

                <div class="blog-content index_readathon_list row" id="index-readathons">
                    <table>
                        <tr>
                            {% for readathon in upcoming_readathons %}
                                <td>
                                    <a href="{% url 'readathon' %}{{ readathon.slug }}">
                                        <div class="poster column">
                                            <div class="topcaption">{{ readathon.start_date|date:"D d M y" }}
                                                - {{ readathon.end_date|date:"D d M y" }}</div>
                                            <div class="caption">{{ readathon.name }} ></div>
                                        </div>
                                    </a>
                                </td>
                            {% endfor %}

                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row medium-9 large-8 columns">
            <div class="blog-post">
                <h3 class="blog-title"><span>Recent Books Read in Readathons</span></h3>
                <div class="jcarousel-wrapper">
                    <div class="jcarousel" id="readathon-books-carousel">
                        <ul>
                            {% for recent_book in recent_books %}
                                <li>
                                    <a href="http://www.bookdepository.com/search?searchTerm={{ recent_book.book_name|urlencode }}">
                                        <img src="{{ recent_book.cover }}" alt="{{ recent_book.book_name }}"
                                             data-tooltip aria-haspopup="true" class="has-tip poster-img"
                                             title="{{ recent_book.book_name }}">
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                </div>
            </div>
        </div>

        <div class="row medium-9 large-8 columns">
            <div class="blog-post">
                <h3 class="blog-title"><span>Readathon Calendar</span></h3>

                <div></div>
                <ul class="calendar">
                    <li class="week-header">
                        <span style="float: left; margin-left: 2rem; cursor: pointer;"
                              id="readathon-calendar-left"><</span>
                        <span id="readathon-calendar-month">{{ today|date:"F Y" }}</span>
                        <span style="float: right; margin-right: 2rem; cursor: pointer;"
                              id="readathon-calendar-right">></span></li>
                    <li class="day-header">
                        <div class="large-1 day">Mon</div>
                        <div class="large-1 day">Tue</div>
                        <div class="large-1 day">Wed</div>
                        <div class="large-1 day">Thu</div>
                        <div class="large-1 day">Fri</div>
                        <div class="large-1 day">Sat</div>
                        <div class="large-1 day">Sun</div>
                    </li>

                    <li class="week" id="readathon-calendar-events">
                        {% for dayobj in calendar_obj %}
                            <div class="large-1 day" style="cursor: pointer;">
                                <div style="margin-bottom: 0.5rem;">{{ dayobj.day|date:"d" }}</div>

                                {% for readathon in dayobj.readathons %}

                                    <div class="calendar-event">
                                        <a href="{% url 'readathon' %}{{ readathon.slug }}">{{ readathon.name }}</a>
                                    </div>

                                {% endfor %}

                            </div>
                        {% endfor %}
                    </li>

                </ul>

            </div>
        </div>
    </div>

{% endblock %}