{% extends "bookwormsunite/base.html" %}
{% load dict_filter %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="page-content">

        <div class="row medium-9 large-8 columns">

            <div class="blog-post">
                <h3 class="blog-title"><span>{{ readathon.name | title }}

                    {% if is_started == False %}
                        <small>(Not Started)</small></span>
                    {% elif is_finished == True %}
                        <small>(Close)</small></span>
                    {% endif %}

                    <span id="readathon-join-section">
                        {% if user.is_authenticated %}
                            {% if is_joined == False and is_finished == False %}
                                <a name="{{ readathon.slug }}" href="#" class="button readathon-join-btn join"
                                   id="readathon-join-btn">Join</a>
                            {% elif is_joined == True %}
                                <a href="#" class="button readathon-join-btn joined" id="readathon-quit-btn">Joined</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </h3>
                <div id="readathon-summary-plate">
                    <table>
                        <tbody>
                        <tr>
                            <td style="width: 70%; padding-left: 0;">
                                <div class="datetime-text">Period: {{ readathon.start_date|date:"D d M y" }}
                                    - {{ readathon.end_date|date:"D d M y" }}</div>
                                <div>{{ readathon.description }}
                                </div>
                            </td>
                            <td style="width: 30%; text-align: right;">
                                <div>Number of Participants: {{ readers|length }}</div>
                                <div>Number of Books Read: {{ num_books_read }}</div>
                                <div>Avg Number of Books Read: {{ avg_num_books_read }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {% for challenge in challenges %}

                <div class="blog-post">
                    <h5 class="blog-title challenge-title smaller"><span>Challenge #{{ forloop.counter }}</span></h5>

                    <div class="row">
                        <div class="medium-8 large-8 columns">
                            <h5 class="readathon-challenge-title">{{ challenge.name }}</h5>
                        </div>
                        <div class="medium-4 large-4 columns">
                            {% if is_started == True %}
                                {% if is_joined == True %}
                                    {% if challenge_books_read|get_item:challenge.id|get_item:'is_completed' == False and is_finished == False %}
                                        <a data-open="challengeModal" class="button challenge-complete-btn join"
                                           id="challenge-join-btn">Complete
                                            This
                                            Challenge</a>
                                    {% elif challenge_books_read|get_item:challenge.id|get_item:'is_completed' == False and is_finished == True %}
                                        <a href="#" class="button challenge-complete-btn due">Did
                                            Not
                                            Complete Challenge</a>
                                    {% elif challenge_books_read|get_item:challenge.id|get_item:'is_completed' == True %}
                                        <a href="#" class="button challenge-complete-btn joined"
                                        >Challenge
                                            Completed</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    {% if is_started == True %}

                        <div class="row">
                            <div class="medium-12 large-12 column">

                                <div>Top Books People Read in This Challenge</div>

                                {% if challenge_books_read|get_item:challenge.id|get_item:'details'|length > 0 %}
                                    <div class="jcarousel-wrapper" style="margin: 0;">
                                        <div class="jcarousel">
                                            <ul>
                                                {% for book, count, is_user_choice in  challenge_books_read|get_item:challenge.id|get_item:'details' %}
                                                    <li style="position: relative; text-align: center">
                                                        <a href="http://www.bookdepository.com/search?searchTerm={{ book.book_name|urlencode }}">

                                                            {% if is_user_choice == True %}
                                                                <div class="challenge-cover">
                                                                    YOUR READ
                                                                </div>
                                                            {% endif %}

                                                            <img src="{{ book.cover }}"
                                                                 alt="{{ book.book_name }}"
                                                                 data-tooltip aria-haspopup="true"
                                                                 class="has-tip challenge-img"
                                                                 title="{{ book.book_name }} (read {{ count }} times)">
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>

                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                                    </div>
                                {% else %}
                                    <div class="jcarousel-wrapper" style="margin: 0;">
                                        <div class="jcarousel">
                                            <ul>
                                                <li style="border: none;">

                                                </li>

                                            </ul>
                                        </div>

                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endif %}
                </div>

            {% endfor %}

        </div>
        <div class="medium reveal" id="challengeModal" data-options="showDelay:300; hideDelay:50" data-reveal>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <div style="height: 350px;">
                <h2>What did you read?</h2>
                <input id="searchBook" name="bookName" class="challenge-search-box"
                       placeholder="Enter book title, author, or ISBN" style="width: 100%;">
                <div id="searchResult" style="height: 300px; overflow: auto;">

                </div>
                <div id="booksSelected">

                </div>
                <a href="#" class="button challenge-save-btn">SAVE</a>
            </div>
        </div>

        <div class="row medium-9 large-8">
            <div class="medium-6 large-6 columns">
                <div id="readathon-thumbnail-panel">
                    <div class="blog-post">
                        <h3 class="blog-title"><span>Joined Readers</span></h3>

                        <ul>
                            {% for reader in  readers %}
                                <li><a href="{% url 'user_info' uid=reader.id %}"><img
                                        src="{{ reader.img }}"></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="medium-6 large-6 columns" id="twitter-widget">
                <div id="readathon-tweet-panel">
                    <div class="blog-post">
                        <h3 class="blog-title"><span><a class="twitter-timeline"
                                                        href="https://twitter.com/search/{{ readathon.slug }}">#{{ readathon.slug }}</a></span>
                        </h3>
                        <div id="twitter">
                            {% load cache %}
                            {% load twitter_tag cache %}
                            {% cache 60 my_tweets %}
                                {% search_tweets for readathon.slug as tweets limit 20 %}
                            {% endcache %}
                            <ul>
                                {% for tweet in tweets %}
                                    <li>{{ tweet.html|safe }} ({{ tweet.datetime|date:"d/M/Y h:m" }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}