{% extends "bookwormsunite/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<br/>
Whoops, ended up here by accident?
<br/>
<li><a href={% url 'user_info' uid=user.id %}>Click here to get back to your profile page!</a></li>
<br/>
<form id="picture_form" method="post" action="/bookwormsunite/user/(?P<uid>[0-9]+)/upload_picture"
                enctype="multipart/form-data">

{% csrf_token %}

If you didn't select a profile picture upon registration or just fancy a change, you can upload a new picture here!
{{ picture_form.as_p }}
 <input type="submit" name="submit" value="picture"/></form>

{% endblock %}

