{% extends "bookwormsunite/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="page-content">

        <div class="row medium-9 large-8 columns">

            <div class="row" id="content">
                <div class="medium-9 large-9 columns">
                    <div class="blog-post">
                        <div class="row" id="profile-profile-plate">

                            <table>
                                <tbody>
                                <tr>
                                    <td style="position: relative;">

                                        {% if user.is_authenticated and reader.id == user.id %}
                                            <label onclick="$('#id_picture').click();" for="file-input">
                                                <i class="fi-camera" id="profile-uploadimg-icon"></i>
                                            </label>
                                        {% endif %}

                                        {% if reader.picture %}
                                            <div class="profile-img-lg"
                                                 style="background-image: url('{{ reader.picture.url }}');"></div>
                                        {% elif reader.img %}
                                            <div class="profile-img-lg"
                                                 style="background-image: url('{{ reader.img }}');"></div>
                                        {% else %}
                                            {% load staticfiles %}
                                            <div class="profile-img-lg"
                                                 style="background-image: url('{% static "bookwormsunite/images/blank-profile.png" %}');"></div>
                                        {% endif %}

                                    </td>
                                    <td style="width: 100%;">
                                        <h3 style="font-weight: 200;"> {{ reader.username | title }}</h3>
                                        <hr style="margin: 1rem auto;">
                                        <h4 style="font-weight: 100; margin-bottom: 0;">Readathons</h4>
                                        <h6><span class="hili-text">{{ joined_r | length }}</span>
                                            Readathons Joined
                                            | <span class="hili-text">{{ accomplishments | length }}</span>
                                            Challenges Acoomplished</h6>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <form action="{% url 'upload_pic' %}" id="upload_pic_form" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ picture_form }}
                                <input class="button" type="submit" value="Upload">
                            </form>
                        </div>
                    </div>

                    <div class="blog-post">
                        <h3 class="blog-title"><span>{{ reader.username | title }}'s Recent Reads</span></h3>

                        {% if recent_books|length > 0 %}
                            <div class="jcarousel-wrapper">
                                <div class="jcarousel" id="profile-books-carousel">
                                    <ul>
                                        {% for recent_book in recent_books %}
                                            <li>
                                                <a href="http://www.bookdepository.com/search?searchTerm={{ recent_book.book_name|urlencode }}">
                                                    <img src="{{ recent_book.cover }}" alt="{{ recent_book.book_name }}"
                                                         data-tooltip aria-haspopup="true" class="has-tip"
                                                         title="{{ recent_book.book_name }}">
                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                            </div>
                        {% else %}
                            <div class="jcarousel-wrapper" style="margin: 0;">
                                <div class="jcarousel">
                                    <ul>
                                        <li style="border: none;">
                                        </li>
                                    </ul>
                                </div>

                                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="blog-post">
                        <h3 class="blog-title"><span>{{ reader.username | title }}'s Recent Activities</span></h3>

                        {% for activity in activities %}
                            <div>
                                <p style="margin-bottom: 0"><i class="fi-{{ activity.icon }}"
                                                               style="opacity: 0.5; margin-right: 10px;"></i> <span
                                        style="font-weight: bolder;">{{ reader.username | title }}</span>
                                    {{ activity.message }}</p>
                                <p style="font-weight: bolder; font-size: 13px; color: rgba(253, 175, 43, 1)">{{ activity.created }}</p>
                            </div>
                            <hr>
                        {% endfor %}

                    </div>

                </div>

                <div class="medium-3 large-3 columns">
                    <div class="blog-post" id="profile-readathon-list">
                        <h5>{{ reader }}'s Readathons</h5>
                        <ul>
                            {% for readathon in joined_r %}
                                <li>
                                    <a href="{% url 'readathon' %}{{ readathon.slug }}">
                                        <div>{{ readathon.name }}</div>
                                        <div>({{ readathon.start_date|date:"d M y" }})</div>
                                    </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}